<a href="https://colab.research.google.com/github/csc125-USCAiken/csc125-USCAiken.github.io/blob/master/Python_Basic_For_Loop_%2C_List_%2C_and_Nested_Loop_Instructor_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Review:  For Loop
Iteration/loops: perform these same repeated tasks​

```
#Repeat a statement five times

for _ in range(5):
  print('great')

#Control Variable that goes through a list.
#Print each number
for x in range(1,10,3)
  print(x)

#Add the number to sum
sum = 0
for i in range(100,200,10)
  sum = sum + i 
print(sum)
```

Review Practice:
* Find $\frac{1}{2} + \frac{1}{4}+\frac{1}{6}+...\frac{1}{100000}$ 

* Find $ (\frac{1}{2})+(\frac{1}{2})^2 + (\frac{1}{2})^3 + ....+(\frac{1}{2})^{20}$

* (Challenge Question) Find $4(1-\frac{1}{3}+\frac{1}{5}-\frac{1}{7}+\frac{1}{9}.... -\frac{1}{9999999})$

In [ ]:
sum = 0 
for i in range(2,100001,2):
  sum += 1.0/i
print(f'{sum : .3f}')

In [ ]:
sum = 0
sign = 1 
for i in range(1,10000000,2):
  sum += (1.0/i) * sign
  sign = sign * (-1)
print(f'{4*sum : .9f}')

# Python Lists​

A “package” or a group of other values​

```
>>> toDoList = ['Buy milk','Do hw', 'watch TV','pay bill'] ​

>>> oddNumbers = [1 , 3 , 5 , 7 , 9 , 11]
```

​

## Python Lists -- Length and members

* Length of Lists  --- Build in function  len​
```
>>> len(toDoList)​
4​
```

* Access the list  ( index starts at 0 )​
```
>>> toDoList[0]​
'Buy milk'​
>>> toDoList[1]​
'Do hw'
```

## Python List operation +
  "+"     ------ concatenation ​
```
>>> toDoList = ['Buy milk','Do hw', 'watch TV','pay bill']​
>>> newList = ['prepare exam I', 'exercise']​
>>> toDoList + newList​
['Buy milk', 'Do hw', 'watch TV', 'pay bill', 'prepare exam I', 'exercise']​
>>> toDoList + newList​
['Buy milk', 'Do hw', 'watch TV', 'pay bill', 'prepare exam I', 'exercise']
```

## Python Lists:  Slice
Find the to do list items from 3  up to 6 (** NOT including index 6)​
```
>>> toDoList[3:6]​

['pay bill', 'prepare exam I', 'exercise'] ​
```
All items from index 1 to the end​
```
>>> toDoList[1:]​

['Do hw', 'watch TV', 'pay bill', 'prepare exam I', 'exercise']​
```
All items from beginning to index 4​
```
>>> toDoList[:4]​

['Buy milk', 'Do hw', 'watch TV', 'pay bill']
```

## Python list : remove item, insert item, replace item. 
Change my second to do list item to  “watch youtube”​
```
toDoList[1] = “watch youtube”
```
Finish the first two do list items​
```
>>> toDoList[:2] = []​

>>> toDoList​

['watch TV', 'pay bill', 'prepare exam I', 'exercise']​
```
Insert a new item at index 1​
```
>>> toDoList[1:1]=['not sure']​

>>> toDoList​

['watch TV', 'not sure', 'pay bill', 'prepare exam I', 'exercise']
```
Append a new item to the end of the list 
```
>>> list = [1,2,3,4]
>>> list.append(5)
>>> list
[1, 2, 3, 4, 5]
```

# For Loop with list
    Repeat the following four times:​

            Display a prompt to the user;​

            Obtain the user’s input; and​

            Record the user’s answer to a list.

In [ ]:
artists = []
for i in [0, 1, 2]:
  next_artist = input("Enter an artist that you like:  ")
  artists.append(next_artist)
print(f'Thanks you! We will work on your recommendation {artists}')

Repeated task:
  
  Example: Display the member of a given list

In [ ]:
# display the following todo list 

todolist = ['watch TV', 'pay bill', 'prepare exam I', 'exercise']​

In [ ]:
# display the following to do list with order 
# Your task: 
# 1. watch TV
# 2. pay bill  .....

todolist = ['watch TV', 'pay bill', 'prepare exam I', 'exercise']​

In [ ]:
# Display the prime numbers less than 100
primenumber = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Example:  Sent a customized invitation message to a list of friends 

```
friendlist = ["Joe", "Zoe", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]
```
Your message will looks like 

"Hi, Joe, Please come to my party on Saturday!"

In [ ]:
for f in ["Joe", "Zoe", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]:
    invitation = "Hi " + f + ".  Please come to my party on Saturday!"
    print(invitation)

How about a customized admission letter?

# Nested Loop

(loop inside of a loop)

Target: 
Example:  Write nested loop to print the following shape. ​
```
**********​

**********​

**********​

**********​

**********​
```

In [ ]:
Put your code here

Example: Print the following multiplication table 
```
1x1=1    1x2=2   1x3=3   1x4=4   1x5=5   1x6=6   1x7=7   1x8=8   1x9=9  

2x1=2    2x2=4   2x3=6   2x4=8   2x5=10  2x6=12  2x7=14  2x8=16  2x9=18  

3x1=3    3x2=6   3x3=9   3x4=12  3x5=15  3x6=18  3x7=21  3x8=24  3x9=27  

4x1=4    4x2=8   4x3=12  4x4=16  4x5=20  4x6=24  4x7=28  4x8=32  4x9=36  

5x1=5    5x2=10  5x3=15  5x4=20  5x5=25  5x6=30  5x7=35  5x8=40  5x9=45  

6x1=6    6x2=12  6x3=18  6x4=24  6x5=30  6x6=36  6x7=42  6x8=48  6x9=54  

7x1=7    7x2=14  7x3=21  7x4=28  7x5=35  7x6=42  7x7=49  7x8=56  7x9=63  

8x1=8    8x2=16  8x3=24  8x4=32  8x5=40  8x6=48  8x7=56  8x8=64  8x9=72  

9x1=9    9x2=18  9x3=27  9x4=36  9x5=45  9x6=54  9x7=63  9x8=72  9x9=81
```

In [ ]:
for i in range(1,10):
   for j in range(1,10):
        ans = i * j 
        print(f"{i}x{j}={ans}\t", end=" ")
   print()

What is the output of the following code?

```
for i in range(5):​

    for j in range(i,5):​

       print("*",end="")​

    print() ​
```

What is the output of the following code?​

```
for i in range(5):​

    for j in range(i+1):​

       print(i,end="")​

    print() 
```

# Try it --- Group 1/3/5/7 Loop and List

**Coder:** 

**Narrator:** 

**Observer:** 

Your objective for this exercise is to generate a customized congratualtion letter for a group of students.

The following is the template of the letter:

> Dear **Name**, 
>
>I just heard the great news that you’ve been admitted to University of South Carolina Aiken Class of 2024! Congratulations! What a wonderful accomplishment and one so well deserved. You and your family should be proud.
>
>Again, **Name** , Welcome to USCA!
>
>Sincerely
>
>Andrew Hendrix

The list of the student is 

Brianna, Zoe, Keith, James,Kate,Julius, Kevin, 
America,Ellis,Courtney,Zydairyn,Brielle

In [ ]:
# Put your code here

# Try it --- Group 2/4/6 Loop and List

**Coder:** 

**Narrator:** 

**Observer:**

Please generate the above letter for the following students:

Anna, Hayden, Russell, Andrew, Chloe, Travis, Harold, Crystal, Harry

In [ ]:
# Put your code here

# Try it --- Group 1/3/5/7 Nested Loop

Print all of the possible choices of throwing two dices using nested loop:
```
(1,1)    (1,2)   (1,3)   (1,4)   (1,5)   (1,6)   
(2,1)    (2,2)   (2,3)   (2,4)   (2,5)   (2,6)   
(3,1)    (3,2)   (3,3)   (3,4)   (3,5)   (3,6)   
(4,1)    (4,2)   (4,3)   (4,4)   (4,5)   (4,6)   
(5,1)    (5,2)   (5,3)   (5,4)   (5,5)   (5,6)   
(6,1)    (6,2)   (6,3)   (6,4)   (6,5)   (6,6)   
```

In [ ]:
# Put your code here

# Try it --- Group 2/4/6 Nested Loop

Produce the following output using nested loop.

```
#        
#        #       
#        #       #       
#        #       #       #       
#        #       #       #       #       
#        #       #       #       #       #       
#        #       #       #       #       #       #       
#        #       #       #       #       #       #       #       
#        #       #       #       #       #       #       #       #  

```

In [ ]:
# Put your code here